<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002465669748-n39jbd4t9e42qcdbt04eqv1871ml9n1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002465669748-n39jbd4t9e42qcdbt04eqv1871ml9n1j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1002465669748-msl7h4qrms79vo16r4smkgs36ovmm8kd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAAsPY30c_0Vh97gBaOoqa-Kw_MsWY5LSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1002465669748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cricketFantacy</string>
	<key>PROJECT_ID</key>
	<string>dream11clone-94a17</string>
	<key>STORAGE_BUCKET</key>
	<string>dream11clone-94a17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002465669748:ios:714d308abce3807a365721</string>
</dict>
</plist>